.btn {
  &,
  &:link,
  &:visited {
    // ?  always when using an anchor tag use inline-block
    display: inline-block;
    font-family: "Lato";
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(black, 0.5);
    margin: 1.5rem;
    padding: 1.5rem 3rem;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    backface-visibility: hidden;
    @media (max-width: 688px) and (min-width: 425px) {
      font-size: 4rem;
      padding: 2rem 4rem;
      margin-top: 4rem;
    }
    @media (max-width: 425px) {
      font-size: 3rem;
      padding: 1.4rem 4rem;
      margin-top: 4rem;
    }
  }
  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 2rem rgba(#dec5b8, 0.5);
  }
  &--white {
    background-color: #dec5b8;
    color: black;
  }
}
