.header {
  text-align: center;
  &__logo--text {
    font-family: "Antic didone", sans-serif;
    font-size: 3rem;
  }

  &__text--main {
    font-family: "Antic didone", "helvetica", sans-serif;
    font-size: 15rem;
    text-transform: uppercase;
  }
  &__text--sub {
    font-family: "advent", "helvetica", sans-serif;
    font-size: 3rem;
    letter-spacing: 1.7rem;
    &2 {
      font-family: "Raleway", "helvetica", sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  &__list {
    list-style: none;
    &--elem--link {
      font-family: "Antic didone", "helvetica", sans-serif;
      font-size: 2rem;
    }
  }
}
.product__item {
  text-align: center;
  &--text {
    font-family: "aileron", "Bellota", sans-serif;
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  &--sub {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 0.4rem;

    font-size: 2rem;
    color: rgb(59, 45, 45);
  }
  &--sub1 {
    font-family: "Bellota", sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    letter-spacing: 0.6rem;
  }
}
.product__btn--text {
  font-family: "Raleway", "helvetica", sans-serif;
  text-decoration: none;
  font-size: 1.8rem;
}
