.header {
  height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../public/img/1.jpeg), url(../public/img/2.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left, right;
}
