.hero {
  background-color: #ffebeb;
  &__video {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }

  &__pics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    &--first {
      background-color: #000;
      overflow: hidden;
      backface-visibility: hidden;
    }
    &--1 {
      height: 400px;
      width: 530px;
      opacity: 0.7;
      transform: scale(1.15);
      @media (max-width: 768px) {
        max-width: 530px;
        object-fit: cover;
      }
      transition: all 0.4s ease-in-out;
      &:hover {
        opacity: 1;
        transform: scale(1.04);
        box-shadow: 0 0.2rem 1rem rgba(black, 0.7);
      }
    }
    &--2 {
      height: 500px;
      width: 350px;
      opacity: 0.7;
      transform: scale(1.15);
      transition: all 0.4s ease-in-out;
      &:hover {
        opacity: 1;
        transform: scale(1.04);
        box-shadow: 0 0.2rem 1rem rgba(black, 0.7);
      }
    }
  }
}
img:not(:last-child) {
  margin-bottom: 5rem;
}
.video-js {
  height: 100vh;
  @media (max-width: 740px) {
    height: 80vh;
    width: 100vw;
  }
}
